@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.filter {
    background-color: white;
    height: 30px;
    border: 1px solid grey;
    font-size: medium;
    vertical-align: center;
    margin: 10px 5px;
}

.filter:hover {
    border-color: black;
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/material-symbols-outlined-v179-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-display: swap;
    vertical-align: center;
}

.container {
    background-color: white;
    width: 200px;
    border-radius: 6px;
    border: 1px solid grey;
}

/* Remove border and outline around input. Set width to take up the entire width of parent and set margin on bottom */
#searchInput {
    display: inline;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px 5px 5px;
    border: none;
    outline: none;
    width: 70%;
    float: none;
    margin: 10px 10% 10px;
    background-color: rgb(241, 240, 240);
}

.options {
    width: 90%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Georgia, serif;
    color: rgb(42, 61, 50);
}

.apply {
    display: inline;
    margin-left: 18%;
    margin-bottom: 5%;
    width: 60%;
    color: rgb(248, 238, 191);
    background-color: rgb(159, 179, 159);
    border-color: black;
}

.apply:hover {
    background-color: rgb(137, 153, 137);
}