/* color template: #2d6a6b, #aad9bb, #d5f0c1, #f9f7c9*/
body {
  background-color: #D5F0C1;
  font-family: sans-serif;
  color: #2d6a6b;
  /* #598d85 */
}

.topnav {
  overflow: hidden;
  background-color: #80BCBD;
}

.topnav a {
  float: left;
  color: #F9F7C9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a7d4bd;
  color: #F9F7C9;
}

.topnav a.active {
  background-color: #9accbd;
  color: #F9F7C9;
}

.search-container {
  float: right;
}

button {
  color: #2d6a6b;
  background-color: #b4d6b4;
  border-radius: 5px;
  border-color: #002224;
}

#filter_popup {
  width: 200px;
  height: 30px;
  border-radius: 11px;
  padding: 10px 10px 50px 10px;
}

/* form {
  width: 400px;
  height: 30px;
  border-radius: 11px;
} */

/* input {
  font: 15px system-ui;
  height: 60%;
  width: 60%;
  padding: 5px 9px;
  border: 1px solid;
  margin-bottom: 5px;
  margin-top: 5px;
} */

.title {
  text-decoration: none;
  font-weight: bold;
  color: #002224;
}

.thumbnail {
  height: 200px;
  width: 200px;
  border-radius: 19px;
  object-fit: cover;
}

.cards {
  padding: 10px;
}

.recipe_column {
  float: left;
  width: 250px;
  padding: 10px 10px;
}

.ingredient_column {
  float: left;
  width: 150px;
  padding: 10px 10px;
}

.recipe_card {
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #c4e4c0;
  margin-top: 20px;
  height: 310px;
}

.ingredient_card {
  border-radius: 19px;
  padding: 15px;
  text-align: left;
  background-color: #c4e4c0;
}

.detail {
  font-size: 12px;
}

li p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.removable_list {
  list-style-type: none;
}

.add {
  text-decoration: none;
  font-size: 12px;
}

.message_parent {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  display: none;
}

.message {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 50px;
  border: 1px solid;
  padding: 15px 50px 15px 50px;
  background-repeat: no-repeat;
  background-position: center;
  color: #180f0c;
  background-color: #ff7b00;
  background-image: url('images/icons/warning.gif');
  text-align: center;
}

.message_close {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: 190px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  width: 600px;
}

textarea {
  width: 300px;
  height: 100px;
}