name: Node.js CI

on:
  push:
    # branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@master
        with:
          name: build
          path: dist
  publish-image:
    runs-on: ubuntu-latest
    needs: build
    # if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: build
          path: dist
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGES_TOKEN }}
      - name: Build Package
        run: docker build -t ${{ github.event.repository.name }} .
      - name: Publish Package
        run: |-
          TAG="$(cat package.json | jq -r '.version')"
          docker tag ${{ github.event.repository.name }} ${REGISTRY}/${GITHUB_ACTOR}/${{ github.event.repository.name }}:${TAG}
          docker push ${REGISTRY}/${GITHUB_ACTOR}/${{ github.event.repository.name }}:${TAG}
          
          printf '%s:\n  image:\n    repository: %s\n    tag: %s\n' \
          $(echo "${{ github.event.repository.name }}" | sed -E 's/-([a-z])/\U\1/g') \
          "${REGISTRY}/${GITHUB_ACTOR}/${{ github.event.repository.name }}" \
          "$TAG" \
          > "${{ github.event.repository.name }}.values.yaml"
      - name: Save Image Values
        uses: actions/upload-artifact@master
        with:
          name: image-tag
          path: "${{ github.event.repository.name }}.values.yaml"
  push-values:
    runs-on: ubuntu-latest
    needs: publish-image
    # if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: image-tag
          path: .
      - run: cat "${{ github.event.repository.name }}.values.yaml"
