name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@master
        with:
          name: build
          path: dist
  publish-image:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: build
          path: dist
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGES_TOKEN }}
      - run: docker build -t fridge-tracker-frontend .
      - run: |-
          TAG="$(date +%s)"
          docker tag fridge-tracker-frontend ${REGISTRY}/${GITHUB_ACTOR}/fridge-tracker-frontend:${TAG}
          docker push ${REGISTRY}/${GITHUB_ACTOR}/fridge-tracker-frontend:${TAG}
